@*model IEnumerable<Proveedor>*@
@using VentasNet.Infra.DTO.Request
@model IEnumerable<ProveedorReq>

<h2>Lista proveedores</h2>

<table class="table">
    <thead>
        <tr>
            @*<th>@Html.DisplayNameFor(model => model.Id)</th>*@
            <th>@Html.DisplayNameFor(model => model.Cuit)</th>
            <th>@Html.DisplayNameFor(model => model.RazonSocial)</th>
            <th>@Html.DisplayNameFor(model => model.Domicilio)</th>
            <th>@Html.DisplayNameFor(model => model.Provincia)</th>
            <th>@Html.Label("Acciones")</th>
        </tr>
    </thead>
    @{
        if (ViewBag.Proveedor != null)
        {
            //Se va cargando con el foreach los datos del objeto cliente
            foreach (ProveedorReq prov in ViewBag.Proveedor)
            {
                <tr>
                    @*<td>@prov.Id</td>*@
                    <td>@prov.Cuit</td>
                    <td>@prov.RazonSocial</td>
                    <td>@prov.Domicilio</td>
                    <td>@prov.Provincia</td>
                    <td>
                        @Html.ActionLink("Modificar","ModificarProveedor","Proveedor",prov ,new{ @class="btn btn-primary"})
                        @Html.ActionLink("Borrar","DeleteProveedor","Proveedor", prov ,new{ @class="btn btn-danger"})
                    </td>
                </tr>
            }
        }

    }
</table>