@using VentasNet.Infra.DTO.Request
@model ComprobanteReq 


<h2>Comprobante de Venta</h2>


@using (Html.BeginForm("GuardarComprobante", "Comprobante", FormMethod.Post))
{
    <form class="row g-3">
        <div class="col-md-4">
            @Html.Label("Numero de Comprobante")
            @Html.TextBoxFor(x => x.NroInicioCbte, new{@class="form-control"})
        </div>
        <div class="col-md-4">
            @Html.LabelFor(x => x.Nombre)
            @Html.TextBoxFor(x => x.Nombre, new{@class="form-control"})
        </div>
        <div class="col-md-4">
            @Html.LabelFor(x => x.NombreCorto)
            @Html.TextBoxFor(x => x.NombreCorto, new{@class="form-control"})
        </div>
        <div class="col-md-4">
            @Html.LabelFor(x => x.Descripcion)
            @Html.TextBoxFor(x => x.Descripcion, new{@class="form-control"})
        </div>
        
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Cargar</button>
        </div>
    </form>
}


