@using VentasNet.Infra.DTO.Request
@model ComprobanteReq 

@{
    List<VentasNet.Entity.Models.Producto> listaProductos = ViewBag.Productos;
    List<VentasNet.Entity.Models.Cliente> listaClientes = ViewBag.Clientes;
}

<h2>Comprobante de Venta</h2>


@using (Html.BeginForm("GuardarComprobante", "Comprobante", FormMethod.Post))
{
    <form class="row g-3">
        <div class="row g-3">
            <div class="col">
                <div class="col">
                    @Html.Label("Numero de Comprobante")
                    <div class="row">
                        <div class="col">
                            @Html.TextBoxFor(x => x.NroInicioCbte, new{@class="form-control"})
                        </div>
                        <div class="col">
                            @Html.TextBoxFor(x => x.NroUltimoCbt, new{@class="form-control"})
                        </div>
                    </div>
                    
                </div>
                <div class="col">
                    @Html.LabelFor(x => x.Nombre)
                    @Html.TextBoxFor(x => x.Nombre, new{@class="form-control"})
                </div>
                <div class="col">
                    @Html.LabelFor(x => x.NroSucursal)
                    @Html.TextBoxFor(x => x.NroSucursal, new{@class="form-control"})
                </div>
                <div class="col">
                    @Html.LabelFor(x => x.NombreCorto)
                    @Html.TextBoxFor(x => x.NombreCorto, new{@class="form-control"})
                </div>
                <div class="col">
                    @Html.LabelFor(x => x.Descripcion)
                    @Html.TextBoxFor(x => x.Descripcion, new{@class="form-control"})
                </div>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">CUIT</th>
                            <th scope="col">Razon Social</th>
                            <th scope="col">Seleccion</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if(ViewBag.Clientes != null)
                            {
                                foreach(VentasNet.Entity.Models.Cliente cli in listaClientes)
                                {
                                    <tr>
                                        <th>@cli.Nombre</th>
                                        <th>@cli.Cuit</th>
                                        <th>@cli.RazonSocial</th>
                                        <th>
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        </th>
                                        <th>
                                            @Html.ActionLink("Elegir", "GuardarCliente", "Comprobante", cli, new{@class="btn btn-primary"})
                                        </th>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="row g-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total Producto</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.Productos != null)
                        {
                            foreach (VentasNet.Entity.Models.Producto prod in listaProductos)
                            {
                                <tr>
                                    <th>@prod.Nombre</th>
                                    <th>@prod.Descripcion</th>
                                    <th>@prod.Importe</th>
                                    <th>
                                        <input type="number" min="0" max="100" id="cantidadProducto">
                                    </th>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12">
            @*Html.ActionLink("Cargar", "CargarDatos","Comprobante",new {})*@
            <button class="btn btn-primary" type="submit">Cargar</button>
        </div>
    </form>
}


